div {
    border: 1px solid rgb(255, 255, 255);
    }
    
    /* GRID */
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 200px 750px 90px;
    }
    
    /* Header */
    header {
    background-color: #cc0d0d;
    color: white;
    text-align: center;
    padding: 20px;
    }
    h1 {
    margin: 0;
    }
    /* Navigation Bar */
    nav {
    background-color: #333;
    padding: 10px 0;
    }

    nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    }

    nav ul li {
    display: inline;
    margin: 0 15px;
    }

    nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
    }

    nav ul li a:hover {
    background-color: #cc0d0d;
    }


    .top{
        grid-column: 1/1;
        grid-row: 1/2;
        background-color: red;
        text-align: center;
        color: white;
        font: 40px;
    }
    
    .navigation{
        grid-column: 1/1;
        grid-row: 2/3;
        background-color: hwb(86 0% 0%);
    }

    .main{
        grid-column: 1/1;
        grid-row: 3/4;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: left;
        background-image: url(jjk-5_63864341275578.5.jpg);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 50px;
    }
    
    .footer { 
        grid-column: 1/1;
        grid-row: 4/5;
        background-color: #333; 
        color: white; 
        text-align: center; 
        padding: 10px; 
        position: relative; 
        bottom: 0; 
        width: 100%; 
        margin-top: 20px; }